{% extends 'agmrs_app/base.html' %}

{% block content %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Update Device</h3>
        </div>
        <div class="box-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                 {% for field in form %}
                        <div class="form-group">
                            {{ field.errors }}
                            {{ field.label_tag }} {{ field }}
                        </div>
                    {% endfor %}
                <button type="submit" class="btn btn-primary">ADD DEVICE</button>
            </form>
        </div>
    </div>
{% endblock %}
