{% extends 'adminlte/base.html' %}

{#{% block extra_head %}#}
{#    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">#}
{#{% endblock %}#}

{% block title %}AGRMS{% endblock %}
{% block content_header %}
        <style>
        .small-box .icon:after {
        content: attr(data-percentage) ;
        position: absolute;
        top: 120%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 12px;
        font-weight: bold;
        }
        .small-box .inner {
            position: relative;
        }

        .small-box .icon {
            position: absolute;
            top: 10px;
            right: 10px;
}
    </style>

    <section class="content-header">
        <h1>
            Area Gamma Monitors
            <small>Outdoor</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Area Gamma Monitors</li>
        </ol>
    </section>
{% endblock %}
{% block content %}
{#    <style>#}
{#    .col-lg-3 {#}
{#        width: 20%;#}
{#    }#}
{#</style>#}


      <div class="row">
        {% for data in datas %}
        <div class="col-lg-3 col-xs-6">

            <div class="small-box {% if data.status == 'ALARM' %}bg-red{% else %}bg-blue{% endif %}">
                <div class="inner">
                    <h2>{{ data.location }}</h2>
                    <h4>Present Value:{{ data.present_value }} </h4>
                    <h4>24hrs Avg Value:{{ data.average_value }} </h4>
                    <h4>Status:{{ data.status }}</h4>
                </div>
                <div class="icon" data-percentage="{{ data.battery_percentage}}%"style="color: black">
                    {% if data.battery_percentage >= 75 %}
                        <i class="fa fa-battery-full text-green" style="font-size: 30px;"></i>
                    {% elif data.battery_percentage >= 50 %}
                       <i class="fa fa-battery-half text-yellow" style="font-size: 30px;"></i>
                    {% elif data.battery_percentage >= 25 %}
                        <i class="fa fa-battery-1 text-red" style="font-size: 30px;"></i>
                     {%else %}
                       <i class="fa fa-battery-0 text-gray" style="font-size: 30px;"></i>
                    {% endif %}
                </div>

                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
{#                <a href="#" class="small-box-footer" data-toggle="modal" data-target="#modal-success">More info <i class="fa fa-arrow-circle-right"></i></a>#}
            </div>
        </div>
         {% endfor %}
{#        <div class="col-lg-3 col-xs-6">#}
{##}
{#            <div class="small-box bg-red">#}
{#                <div class="inner">#}
{#                    <h2>Loc2<sup style="font-size: 20px"></sup></h2>#}
{#                    <h4>Present Value:25 </h4>#}
{#                    <h4>24hrs Avg Value:20 </h4>#}
{#                    <h4>Status:</h4>#}
{#                </div>#}
{#                <div class="icon"data-percentage="8%"style="color: blueviolet">#}
{#                    <i class="fa fa-battery-1 text-red" style="font-size: 30px;"></i>#}
{#                </div>#}
{#                <div class="icon">#}
{#                    <i class="ion ion-stats-bars"></i>#}
{#                </div>#}
{#                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>#}
{#            </div>#}
{#        </div>#}
{##}
{#        <div class="col-lg-3 col-xs-6">#}
{##}
{#            <div class="small-box bg-yellow">#}
{#                <div class="inner">#}
{#                    <h2>Loc3</h2>#}
{#                    <h4>Present Value:35 </h4>#}
{#                    <h4>24hrs Avg Value:30 </h4>#}
{#                    <h4>Status:Alarm</h4>#}
{#                </div>#}
{#                <div class="icon"data-percentage="100%"style="color: blueviolet">#}
{#                    <i class="fa fa-battery-full text-green" style="font-size: 30px;"></i>#}
{#                </div>#}
{#                <div class="icon">#}
{#                    <i class="ion ion-person-add"></i>#}
{#                </div>#}
{#                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>#}
{#            </div>#}
{#        </div>#}
{##}
{#        <div class="col-lg-3 col-xs-6">#}
{##}
{#            <div class="small-box bg-blue">#}
{#                <div class="inner">#}
{#                    <h2>Loc4</h2>#}
{#                    <h4>Present Value:28 </h4>#}
{#                    <h4>24hrs Avg Value:25 </h4>#}
{#                    <h4>Status:Alarm</h4>#}
{#                </div>#}
{#                <div class="icon"data-percentage="30%"style="color: blueviolet">#}
{#                    <i class="fa fa-battery-3 text-yellow" style="font-size: 30px;"></i>#}
{#                </div>#}
{#                <div class="icon">#}
{#                    <i class="ion ion-pie-graph"></i>#}
{#                </div>#}
{#                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>#}
{#            </div>#}
{#        </div>#}
{#        <div class="col-lg-3 col-xs-6">#}
{##}
{#            <div class="small-box bg-yellow">#}
{#                <div class="inner">#}
{#                    <h2>Loc5</h2>#}
{#                    <h4>Present Value:30 </h4>#}
{#                    <h4>24hrs Avg Value: 28</h4>#}
{#                    <h4>Status:</h4>#}
{#                </div>#}
{#                <div class="icon"data-percentage="75%"style="color: blueviolet">#}
{#                    <i class="fa fa-battery-4 text-green" style="font-size: 30px;"></i>#}
{#                </div>#}
{#                <div class="icon">#}
{#                    <i class="ion ion-pie-graph"></i>#}
{#                </div>#}
{#                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>#}
{#            </div>#}
{#        </div>#}
{#        <div class="col-lg-3 col-xs-6">#}
{#            <div class="small-box bg-gray">#}
{#                <div class="inner">#}
{#                    <h2>Loc6</h2>#}
{#                    <h4>Present Value:35 </h4>#}
{#                    <h4>24hrs Avg Value:30 </h4>#}
{#                    <h4>Status:Normal</h4>#}
{#                </div>#}
{#                <div class="icon"data-percentage="100%"style="color: blueviolet">#}
{#                    <i class="fa fa-battery-full text-green" style="font-size: 30px;"></i>#}
{#                </div>#}
{#                <div class="icon">#}
{#                    <i class="ion ion-pie-graph"></i>#}
{#                </div>#}
{#                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>#}
{#            </div>#}
{#        </div>#}
{#        <div class="col-lg-3 col-xs-6">#}
{##}
{#            <div class="small-box bg-olive">#}
{#                <div class="inner">#}
{#                    <h2>Loc7</h2>#}
{#                    <h4>Present Value:30 </h4>#}
{#                    <h4>24hrs Avg Value:28 </h4>#}
{#                    <h4>Status:Alarm</h4>#}
{#                </div>#}
{#                <div class="icon"data-percentage="100%"style="color: blueviolet">#}
{#                    <i class="fa fa-battery-full text-green" style="font-size: 30px;"></i>#}
{#                </div>#}
{#                <div class="icon">#}
{#                    <i class="ion ion-pie-graph"></i>#}
{#                </div>#}
{#                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>#}
{#            </div>#}
{#        </div>#}
{#        <div class="col-lg-3 col-xs-6">#}
{##}
{#            <div class="small-box bg-red">#}
{#                <div class="inner">#}
{#                    <h2>Loc8</h2>#}
{#                    <h4>Present Value:27 </h4>#}
{#                    <h4>24hrs Avg Value:25 </h4>#}
{#                    <h4>Status:Normal</h4>#}
{#                </div>#}
{#                <div class="icon"data-percentage="30%"style="color: blueviolet">#}
{#                    <i class="fa fa-battery-1 text-y" style="font-size: 30px;"></i>#}
{#                </div>#}
{#                <div class="icon">#}
{#                    <i class="ion ion-pie-graph"></i>#}
{#                </div>#}
{#                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>#}
{#            </div>#}
{#        </div>#}

    </div>


{#    <div class="row">#}
{#        <div class="col-xs-12">#}
{#            <div class="box box-default">#}
{#                <div class="box-header with-border">#}
{#                    <h3 class="box-title">Modal Examples</h3>#}
{#                </div>#}
{#                <div class="box-body">#}
{#                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-default">#}
{#                        Launch Default Modal#}
{#                    </button>#}
{#                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-info">#}
{#                        Launch Info Modal#}
{#                    </button>#}
{#                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-danger">#}
{#                        Launch Danger Modal#}
{#                    </button>#}
{#                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal-warning">#}
{#                        Launch Warning Modal#}
{#                    </button>#}
{#                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-success">#}
{#                        Launch Success Modal#}
{#                    </button>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

{#    <div class="modal modal-success fade" id="modal-success" style="display: none;">#}
{#        <div class="modal-dialog">#}
{#            <div class="modal-content">#}
{#                <div class="modal-header">#}
{#                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                        <span aria-hidden="true">×</span></button>#}
{#                    <h4 class="modal-title">Success Modal</h4>#}
{#                </div>#}
{#                <div class="modal-body">#}
{#                    <p>One fine body…</p>#}
{#                </div>#}
{#                <div class="modal-footer">#}
{#                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>#}
{#                    <button type="button" class="btn btn-outline">Save changes</button>#}
{#                </div>#}
{#            </div>#}
{##}
{#        </div>#}
{##}
{#    </div>#}
{% endblock %}