{% extends 'agmrs_app/base.html' %}

{#{% block extra_head %}#}
{#    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">#}
{#{% endblock %}#}

{% block title %}AGRMS{% endblock %}
{% block content_header %}
    <style>
        .small-box .icon:after {
        content: attr(data-percentage) ;
        position: absolute;
        top: 120%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 12px;
        font-weight: bold;
        }
        .small-box .inner {
            position: relative;
        }

        .small-box .icon {
            position: absolute;
            top: 10px;
            right: 10px;
}
    </style>
    <section class="content-header">
        <h1>
            Area Gamma Monitors
            <small>Outdoor</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Area Gamma Monitors</li>
        </ol>
    </section>
{% endblock %}
{% block content %}
  <div class="row" id="device_data"   hx-get="{% url 'get_current_data_outdoor' %}" hx-trigger="every 2s" >
    {% include 'agmrs_app/agm_outdoor_partial.html' %}
  </div>
{% endblock %}