{% extends 'adminlte/base.html' %}

{% block extra_head %}
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
{% endblock %}
 {% block content_wrapper %}
        <div class="content-wrapper">
            {% block content_header %}

            {% endblock %}

           {% block content_outer %}
            <section class="content">
                {% block messages %}
                    {% include 'adminlte/lib/_messages.html' %}
                {% endblock %}

                {% block content_block_wrap %}
                    {% block content %}{% endblock %}
                {% endblock %}
            </section>
            {% endblock %}

        </div>
        {% endblock content_wrapper %}

{% block javascript %}
 {{ block.super }}
    <script>
    $(document).ready(function()
    {
        alert("");
    })
    </script>
    <script src="https://unpkg.com/htmx.org@1.9.2" integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous"></script>
{% endblock %}
