{% extends 'adminlte/base.html' %}

{% block extra_head %}
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
{% endblock %}
 {% block content_wrapper %}
        <div class="content-wrapper">
            {% block content_header %}

            {% endblock %}

          /  {% block content_outer %}
            <section class="content">
                {% block messages %}
                    {% include 'adminlte/lib/_messages.html' %}
                {% endblock %}

                {% block content_block_wrap %}
                    {% block content %}{% endblock %}
                {% endblock %}
            </section>
            {% endblock %}

        </div>
        {% endblock content_wrapper %}

{% block content %}

{% endblock %}
