{% extends 'agmrs_app/base.html' %}

{#{% block extra_head %}#}
{#    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">#}
{#{% endblock %}#}

{% block title %}AGRMS{% endblock %}
{% block content_header %}
    <section class="content-header">
        <h1>
            TeleDosimeter
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">TeleDosimeter</li>
            <li>
                 <a href="{% url 'dashboard_view' %}">
                    <button type="submit" class="btn btn-primary">Back</button>
                 </a>
            </li>
        </ol>
    </section>
{% endblock %}
{% block content %}

   <div class="row" id="device_data"   hx-get="{% url 'get_current_data_teledosi' %}" hx-trigger="every 2s" >
    {% include 'agmrs_app/teledosimeter_partial.html' %}
  </div>
{% endblock %}