{% extends 'agmrs_app/base.html' %}
{% block content_header %}
{#    <section class="content-header">#}
{#        <h1>#}
{#            Area Gamma Monitors#}
{#            <small>Control panel</small>#}
{#        </h1>#}
{#        <ol class="breadcrumb">#}
{#            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>#}
{#            <li class="active">Area Gamma Monitors</li>#}
{#        </ol>#}
{#    </section>#}
{% endblock %}
{% block content %}
<div class="box box-warning">
            <div class="box-header with-border">
              <h3 class="box-title">Add Agm Device Data</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                 {% for field in form %}
                        <div class="form-group">
                            {{ field.errors }}
                            {{ field.label_tag }} {{ field }}
                        </div>
                    {% endfor %}
                <button type="submit" class="btn btn-primary">ADD DEVICE</button>
            </form>
            </div>
            <!-- /.box-body -->
          </div>
{% endblock %}