{% extends 'agmrs_app/base.html' %}
{% block content_header %}
{% endblock %}
{% block content %}
<div class="box box-warning">
            <div class="box-header with-border">
              <h3 class="box-title">Add New Employees</h3>
                <a href="{% url 'list_employee_view' %}">
            <button type="submit" class="btn btn-primary" style="margin-left: 77%;">Back</button>
         </a>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
             <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                 {% for field in form %}
                        <div class="form-group">
                            {{ field.errors }}
                            {{ field.label_tag }} {{ field }}
                        </div>
                    {% endfor %}
                <button type="submit" class="btn btn-primary">ADD</button>
            </form>
            </div>
            <!-- /.box-body -->
          </div>
{% endblock %}